@font-face {
  font-family: 'Averta';
  src: url("./assets/fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Averta', sans-serif;
}

html {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin: 1em 0 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  width: 100%;
}

.header__menu {
  width: 45%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
  background-color: black;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info {
  margin: 0 auto;
  width: 30%;
}

.main__info > span {
  color: #565656;
}

.main__info > h1 {
  margin-bottom: 1em;
}

.main__button {
  margin-top: 1em;
}

.main__button > button {
  width: 10em;
  height: 3em;
  background-color: blue;
  border-radius: 60px;
  outline: none;
  border: 0;
  color: white;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__info {
  width: calc(100% / 4);
}

.clients__info > span {
  color: #757575;
}

.clients__logo {
  width: 100%;
}

.clients__logo > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.skills__img {
  margin: 15px 0 15px 0;
}

.skills__img > img {
  width: 80px;
  height: 80px;
}

.skills__card {
  width: 200px;
  height: 250px;
  border-radius: 30px;
  background: #f7f2f2;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__cardText {
  margin: 0 15px 0 15px;
  text-align: center;
}

.skills__cardText > p {
  text-align: center;
  margin-bottom: 15px;
}

.skills__cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 35%);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img > img {
  width: 550px;
}

.about__info > h2 {
  font-size: 38px;
  margin-bottom: 0.5em;
}

.about__info > span {
  color: #565656;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe {
  background: url(./assets/img/send-bg.png), #f4f9ff;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 70px 30px 70px 30px;
  border-radius: 30px;
  width: 70%;
  margin-bottom: 200px;
}

.subscribe__post > input {
  width: 300px;
  padding: 15px 20px;
  border-radius: 45px;
  border: 0;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.menu {
  margin-top: 60px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__list > ul {
  width: calc((100% - 30%) / 4);
}

.menu__list > ul > span {
  color: #565656;
}

.menu__list > ul > li,
.menu__list > ul span {
  font-size: 14px;
  margin-top: 5px;
}

.menu__list > ul > p {
  margin-bottom: 24px;
}

.feedback__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__slider > div {
  width: calc(100% / 3);
}

.feedback__text > span {
  color: #565656;
}

.feedback__title {
  text-align: center;
}

.feedback__buttonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.feedback__buttonList > li > .btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e7f0fc;
  border: none;
}

.feedback__button-active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2639ed;
  border: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (max-width: 900px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header__hamburger {
    display: block;
  }
  .header__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header__hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header__menu {
    width: inherit;
  }
  .header__list {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: black;
  }
  .header__list > li {
    margin: 15px 0;
  }
  .header__list > li.active {
    left: 0;
  }
  .header__list.active {
    left: 0;
  }
}

@media screen and (max-width: 950px) {
  .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills__cardList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__info {
    text-align: center;
  }
  .about__img > img {
    max-width: 100%;
  }
  .main__info {
    width: 90%;
    margin-right: 20px;
  }
  .main__picture > img {
    max-width: 100%;
  }
  .clients__info {
    width: calc(100% / 2);
  }
  .clients__logo > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .feedback__gallery {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */