@font-face {
  font-family: 'Averta';
  src: url('./assets/fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf')
    format('truetype');
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Averta', sans-serif;
}
html {
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: space-around;
}
.container {
  width: 100%;
}
.header {
  &__menu {
    width: 45%;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__hamburger {
    display: none;
    cursor: pointer;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  -webkit-transition: all 0.3 ease-in-out;
  background-color: black;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__info {
    margin: 0 auto;
    width: 30%;
    > span {
      color: #565656;
    }
    > h1 {
      margin-bottom: 1em;
    }
  }
  &__button {
    margin-top: 1em;

    > button {
      width: 10em;
      height: 3em;
      background-color: blue;
      border-radius: 60px;
      outline: none;
      border: 0;
      color: white;
    }
  }
}

.clients {
  display: flex;
  margin: 3.5em;
  align-items: center;
  &__info {
    width: calc(100% / 4);
    > span {
      color: #757575;
    }
  }
  &__logo {
    width: 100%;
    > ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
.skills {
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  &__img {
    margin: 15px 0 15px 0;
    > img {
      width: 80px;
      height: 80px;
    }
  }

  &__card {
    width: 200px;
    height: 250px;
    border-radius: 30px;
    background: rgb(247, 242, 242);
    margin: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cardText {
    margin: 0 15px 0 15px;
    text-align: center;
    > p {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__cardList {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 35%);
  }
}
.about {
  display: flex;
  align-items: center;

  &__img {
    > img {
      width: 550px;
    }
  }

  &__info {
    > h2 {
      font-size: 38px;
      margin-bottom: 0.5em;
    }

    > span {
      color: #565656;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
}
.subscribe {
  background: url(./assets/img/send-bg.png), #f4f9ff;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 70px 30px 70px 30px;
  border-radius: 30px;
  width: 70%;
  margin-bottom: 200px;

  &__post {
    > input {
      width: 300px;
      padding: 15px 20px;
      border-radius: 45px;
      border: 0;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    }
  }
}

.menu {
  margin-top: 60px;
  &__list {
    display: flex;
    justify-content: space-evenly;
    > ul {
      width: calc((100% - 30%) / 4);
      > span {
        color: #565656;
      }
      > li,
      span {
        font-size: 14px;
        margin-top: 5px;
      }
      > p {
        margin-bottom: 24px;
      }
    }
  }
}

.feedback {
  &__slider {
    display: flex;
    align-items: center;
    > div {
      width: calc(100% / 3);
    }
  }
  &__text {
    > span {
      color: #565656;
    }
  }
  &__title {
    text-align: center;
  }
  &__buttonList {
    display: flex;
    justify-content: center;
    gap: 10px;
    > li > .btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e7f0fc;
      border: none;
    }
  }
  &__button-active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2639ed;
    border: none;
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }
  .header__hamburger {
    display: block;
  }
  .header__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .header__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header__menu {
    width: inherit;
  }
  .header__list {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: black;
    > li {
      margin: 15px 0;
    }
    > li.active {
      left: 0;
    }
  }
  .header__list.active {
    left: 0;
  }
}
@media screen and (max-width: 950px) {
  .skills {
    flex-direction: column;
    &__cardList {
      justify-content: center;
    }
    &__info {
      text-align: center;
    }
  }
  .about {
    &__img {
      > img {
        max-width: 100%;
      }
    }
  }
  .main {
    &__info {
      width: 90%;
      margin-right: 20px;
    }
    &__picture {
      > img {
        max-width: 100%;
      }
    }
  }
  .clients {
    &__info {
      width: calc(100% / 2);
    }
    &__logo {
      > ul {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .feedback__gallery {
    display: none;
  }
}
