* {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 1);
}
body {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #14142f;
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
